{% extends 'accounts/index.html' %}

<html>
{% block BloqueHead %}
{% endblock BloqueHead %}  

{%block headerblock%}    
{%endblock headerblock%}

{% block bloque_medio %}

    <p>
        <a href={% url 'personajes' %}>Volver</a>
    </p>

    <p>
        <li>Nombre: {{object.nombre}}</li>
        <li>Apellido: {{object.apellido}}</li>
        <li>Sexo: {{object.sexo}}</li>
        <li>Club de futbol: {{object.club_futbol | safe }}</li>
    </p>

</form>
{%endblock bloque_medio%}


{% block pruebaTemplate %}
{% endblock pruebaTemplate %}   

</html>