{%extends 'accounts/index.html'%}
<html>
{% block BloqueHead %}
    <title>Plantilla</title>
{% endblock BloqueHead %}

      <!-- Masthead-->    
            {% comment %} <header class="masthead">   
                <div class="container position-relative">
                    <div class="row justify-content-center">
                        <div class="col-xl-6">
                            <div class="text-center text-white">
                                <!-- Page heading-->
                                 <h1 class="mb-5">Bienvenidos!</h1>    
                           </div>
                        </div>
                    </div>
                </div>
            </header>  {% endcomment %}
   {%block headerblock%}    
   {%endblock headerblock%}

    {% block bloque_medio %}
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-1.jpg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Un poco más sobre mi</h2>
                <p class="lead mb-0">-Nací en Neuquen Capital un 20 de febrero del 1996, soy de piscis (como Justin), cuando terminé el secundario en 2014 tenía 18 años  me mudé a Buenos Aires para estudiar la carrera de abogacía y me gustó tanto la ciudad que decidí quedarme desde ese entonces. </p>
                <p class="lead mb-0">-Aparte de estudiar abogacía también soy maquilladora profesional y el año pasado comencé a interesarme en el mundo de la programación, empezando por Python y en miras de continuar con lo referente a desarrollo web.</p>
                <p class="lead mb-0">-A pesar de que trabajo full time como abogada en un estudio jurídico aprovecho mi tiempo libre para entrenar CrossFit.</p>
            </div>
        </div>
</section>
    {% endblock bloque_medio %}


{% comment %} <body>
    <header>
        <div class="col-xl-6">
            <div class="text-center text-white">
                 <h1 class="mb-5">{{nombre}}</h1>    
           </div>
        </div>
    <h1><p style="color: pink;">{{nombre}}</p></h1>
    </header>
    <h1><p style= "color: black;">{{intro}}</p></h1>
</body>    
{% block pruebaTemplate %} {% endcomment %}

        {% comment %} {% if intro < 5 %}
        <p style="color: pink;">{{intro}}</p>
        <p style="color: blue;">{{apellido}}</p>
    {% elif nombre_largo == 5%}
        <p style="color: green;">{{nombre}}</p>
        <p style="color: green;">{{apellido}}</p>
    {% else %}
        <p style="color: blue;">{{nombre}}</p>
        <p style="color: red;">{{apellido}}</p>
    {% endif %}

    {% for valor in lista %}
        <p style="color: red;">{{valor}}</p>    
    {% endfor %}  {% endcomment %}

{% block pruebaTemplate %}
{% endblock pruebaTemplate %}   
   
</html>