{%extends 'index/index.html'%}
{%block headerblock%}    
{%endblock headerblock%}
    {%block header_index%}      
    {%endblock header_index%}

{%block pruebaTemplate%}

    <form action={% url 'busqueda' %} method="get">
        {% csrf_token %}

        <table>
            {{buscador.as_table}}
        </table>

        <input type="submit" placeholder="Enviar">
    </form>

    {% if dato %}
        Se busco por el dato {{dato}}
        {% for nombre in nombres_buscados %}
        <li>
            {{nombre}}
        </li>
        {% endfor %}
    {% else %}
        No se busco nada...
    {% endif %}

{% endblock pruebaTemplate %}
{%block otroBloque%}
{% endblock otroBloque %}