{% extends 'accounts/index.html' %}


{% block BloqueHead %}
{% endblock BloqueHead %}  

{%block headerblock%}    
{%endblock headerblock%}

{% block bloque_medio %}

    <p>
        <a href={% url 'crear_mascotas' %}>Crear mascota</a>
    </p>

    <form action="" method="get">
        {% csrf_token %}
        <table>
            {{form.media}}
            {{form.as_table}}
        </table>
        <button>Crear</button>
    </form>


{%endblock bloque_medio%}


{% block pruebaTemplate %}
{% endblock pruebaTemplate %}   
