{% extends 'index/index.html' %}

<html>
{% block BloqueHead %}
{% endblock BloqueHead %}  

{%block headerblock%}    
{%endblock headerblock%}

{% block bloque_medio %}
        <a href={% url 'mascotas' %}>Volver</a>
    </p>

    <p>
        <li>Animal: {{object.animal}}</li>
        <li>Tamaño: {{object.tamaño}}</li>
        <li>Color: {{object.color}}</li>
        <li>Fecha creación: {{object.fecha_creacion | date:'d-m-Y H:m'}}</li>
    </p>


{%endblock bloque_medio%}


{% block pruebaTemplate %}
{% endblock pruebaTemplate %}   

</html>