{% extends 'accounts/index.html' %}

<html>
{% block BloqueHead %}
{% endblock BloqueHead %}  

{%block headerblock%}    
{%endblock headerblock%}

{% block bloque_medio %}

<h2>Mascotas creadas</h2>

<p>
    <a href={% url 'crear_mascotas' %}>Crear mascota</a>
</p>


    <form action="" method="get">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>

        <button>Buscar</button>
    </form>

    {% for mascota in mascotas %}
        <li>
            {{mascota}}
            <a href={% url 'detalle_mascotas' mascota.id %}>Ver mas...</a>
            <a href={% url 'editar_mascotas' mascota.id %}>Editar</a>
            <a href={% url 'borrar_mascotas' mascota.id %}>Borrar</a>
        </li>
    {% endfor %}
    
{%endblock bloque_medio%}


{% block pruebaTemplate %}
{% endblock pruebaTemplate %}   

</html>

