{% extends 'index/index.html' %}

<html>
{% block BloqueHead %}
{% endblock BloqueHead %}  

{%block headerblock%}    
{%endblock headerblock%}

{% block bloque_medio %}

<p>
    <a href={% url 'crear_mascotas' %}>Crear mascota</a>
</p>

    {% for mascotas in object_list %}
        <li>
            {{mascotas}}
            <a href={% url 'detalle_mascotas' mascotas.id %}>Ver mas...</a>
            <a href={% url 'editar_mascotas' mascotas.id %}>Editar</a>
            <a href={% url 'borrar_mascotas' mascotas.id %}>Borrar</a>
        </li>
    {% endfor %}
        <form action="" method="get">
            {% csrf_token %}
            <table>
                {{form.media}}
                {{form.as_table}}
            </table>

            <button>Buscar</button>
        </form>


{%endblock bloque_medio%}


{% block pruebaTemplate %}
{% endblock pruebaTemplate %}   

</html>

