{% extends 'index/index.html' %}

<html>
{% block BloqueHead %}
{% endblock BloqueHead %}  

{%block headerblock%}    
{%endblock headerblock%}

{% block bloque_medio %}
<h2>Editar user</h2>

{% if msj %}
    {{msj}}
{% endif %}
    <form action="" method="post">
        {% comment %} <input type="text"> {% endcomment %}
        {% csrf_token %}
        <table>
        {{form.as_table}}
        </table>
        <button>Guardar</button>

    </form>
    {%endblock bloque_medio%}
    
    
    {% block pruebaTemplate %}
    {% endblock pruebaTemplate %}   
    
    </html>