{%extends 'index/index.html'%}

{% block BloqueHead %}
    <title>Plantilla</title>
{% endblock BloqueHead %}
   
            <!-- Masthead-->    
            <header class="masthead">   
                <div class="container position-relative">
                    <div class="row justify-content-center">
                        <div class="col-xl-6">
                            <div class="text-center text-white">
                                <!-- Page heading-->
                            {% block headerblock  %}
                                 <h1 class="mb-5">Bienvenidos a mi blog!</h1>
                            {% endblock headerblock %}
                                    {% comment %} <h1 class="mb-5">Bienvenidos!</h1>      {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </header>


{% block pruebaTemplate %}

    {% if nombre_largo < 5 %}
        <p style="color: pink;">{{nombre}}</p>
        <p style="color: blue;">{{apellido}}</p>
    {% elif nombre_largo == 5%}
        <p style="color: green;">{{nombre}}</p>
        <p style="color: green;">{{apellido}}</p>
    {% else %}
        <p style="color: blue;">{{nombre}}</p>
        <p style="color: red;">{{apellido}}</p>
    {% endif %}

    {% for valor in lista %}
        <p style="color: red;">{{valor}}</p>    
    {% endfor %}


{% endblock pruebaTemplate %}   
   
