{% extends 'index/index.html' %}

<html>
{% block BloqueHead %}
{% endblock BloqueHead %}  

{%block headerblock%}    
{%endblock headerblock%}

{% block bloque_medio %}

{% if msj %}
    {{msj}}
{% endif %}
    <form action="" method="post">
        {% comment %} <input type="text"> {% endcomment %}
        {% csrf_token %}
        {{form.as_p}}
        <button>Registrarse</button>

    </form>

</form>
{%endblock bloque_medio%}


{% block pruebaTemplate %}
{% endblock pruebaTemplate %}   

</html>