{% extends 'accounts/index.html' %}

<html>
{% block BloqueHead %}
{% endblock BloqueHead %}  

{%block headerblock%}    
{%endblock headerblock%}

{% block bloque_medio %}

    <p>
        <a href={% url 'crear_viajes' %}>Crear viaje</a>
    </p>

    <form action="" method="get">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <button>Crear</button>
    </form>
    
    {% for viajes in viajes %}
        <li>
            <a href={% url 'detalle_viajes' viajes.id %}>{{viajes}}</a> |
            <a href={% url 'editar_viajes' viajes.id %}>Editar</a> |
            <a href={% url 'borrar_viajes' viajes.id %}>Borrar</a>
        </li>
    {% endfor %}

</form>
{%endblock bloque_medio%}


{% block pruebaTemplate %}
{% endblock pruebaTemplate %}   

</html>