{% extends 'accounts/index.html' %}

<html>
{% block BloqueHead %}
{% endblock BloqueHead %}  

{%block headerblock%}    
{%endblock headerblock%}

{% block bloque_medio %}

    <p>
        <a href={% url 'viajes' %}>Volver</a>
    </p>

    <p>
        <li>Destino: {{object.destino}}</li>
        <li>Transporte: {{object.transporte}}</li>
        <li>Duracion: {{object.duracion}}</li>
        <li>Fecha creación: {{object.fecha_creacion | date:'d-m-Y H:m'}}</li>
    </p>

</form>
{%endblock bloque_medio%}


{% block pruebaTemplate %}
{% endblock pruebaTemplate %}   

</html>