{% extends 'accounts/index.html' %}

<html>
{% block BloqueHead %}
{% endblock BloqueHead %}  

{%block headerblock%}    
{%endblock headerblock%}

{% block bloque_medio %}
    <p>
        <a href={% url 'crear_viajes' %}>Crear viajes</a>
    </p>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{form.media}}
            {{form.as_table}}
        </table>

        <button>Buscar</button>
    </form>

</form>
{%endblock bloque_medio%}


{% block pruebaTemplate %}
{% endblock pruebaTemplate %}   

</html>